@model FireLocator.Models.User_Info

@{
    ViewBag.Title = "Details1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>User Information</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt >
                @Html.DisplayNameFor(model => model.Fullname)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.Fullname)
            </dd>

            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                <br />
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd >
                <br />
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt >
                <br />
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd >
                <br />
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Item)
            </dt>

            <dd >
                <br />
                @Html.DisplayFor(model => model.Item)
            </dd>

            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Contact)
            </dt>

            <dd >
                <br />
                @Html.DisplayFor(model => model.Contact)
            </dd>

            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Gas_Status)
            </dt>

            @if (Model.Gas_Status.Equals("No Gas Detect!"))
            {
                <dd style="color:#295c0a; font-weight:bold;">
                    <br />
                    @Html.DisplayFor(model => model.Gas_Status)
                </dd>
            }
            else if (Model.Gas_Status.Equals("Gas Detected!"))
            {
                <dd style="color:red; font-weight:bold;">
                    <br />
                    @Html.DisplayFor(model => model.Gas_Status)
                </dd>
            }
            else
            {
                <dd style="color:black; font-weight:bold;">
                    <br />
                    @Html.DisplayFor(model => model.Gas_Status)
                </dd>
            }




            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Heat_Level)
            </dt>

            @if (!((Model.Heat_Level + "").Equals("")))
            {

                if (int.Parse(Model.Heat_Level) <= 100)
                {
                    <dd style="color:#295c0a;font-weight:bold;">
                        <br />
                        @Html.DisplayFor(model => model.Heat_Level)
                    </dd>
                }
                else if (int.Parse(Model.Heat_Level) >= 101 && int.Parse(Model.Heat_Level) <= 200)
                {
                    <dd style="color:#c77b04;font-weight:bold;">
                        <br />
                        @Html.DisplayFor(model => model.Heat_Level)
                    </dd>
                }
                else
                {
                    <dd style="color:red;font-weight:bold;">
                        <br />
                        @Html.DisplayFor(model => model.Heat_Level)
                    </dd>
                }
            }


            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Latitude)
            </dt>

            <dd >
                <br />
                @Html.DisplayFor(model => model.Latitude)
            </dd>

            <dt >
                <br />
                @Html.DisplayNameFor(model => model.Longhitude)
            </dt>

            <dd >
                <br />
                @Html.DisplayFor(model => model.Longhitude)
            </dd>

        </dl>
    </div>
    <p style="font-family:'Century Gothic';font-size:15px;">
        @Html.ActionLink("Edit", "Edit1", new { id = Model.Item }) |
        @Html.ActionLink("Back to List", "Dashboard")
    </p>

    <div id="googleMap" style="width:100%;height:600px; margin-top:50px;">

    </div>
    <script language="javascript">
        function myMap() {
            var data = @Html.Raw(Json.Encode(Model));
            if (data!=null){
                var lat = parseFloat(@Model.Latitude);
                var long = parseFloat(@Model.Longhitude);
                var mapProp= {
                    center: new google.maps.LatLng(lat, long),
                    zoom:14,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var marker = new google.maps.Marker({ position: { lat: lat, lng: long }, map: map });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtAUTCi3y1Jw7m8qeugkCTal4jwO345sY&callback=myMap"></script>


</div>

 

<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="../../js/jquery-3.5.1.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/dataTables.bootstrap5.min.js"></script>
<script>
</script>